$font-family-main: 'Heebo', sans-serif
$font-family-extra: 'Oswald', sans-serif

$color-dark-900: #111
$color-dark-500: #202020
$color-dark-100: #333

$color-light-900: #666666
$color-light-500: #999
$color-light-200: #ddd
$color-light-100: #fff

$bigTablet: 820px
$tablet: 768px
$mobile: 480px

@mixin bigTablet
  @media screen and (max-width: $bigTablet)
    @content

@mixin tablet
  @media screen and (max-width: $tablet)
    @content

@mixin mobile
  @media screen and (max-width: $mobile)
    @content

.contentWrapper
  max-width: 1440px
  width: 90%
  height: 100%
  margin: 0 auto
//display: flex
//justify-content: center

//@include bigTablet
//  .contentWrapper
////padding: 0 30px
//
//@include mobile
//  .contentWrapper
////padding: 0 16px

.button
  text-transform: uppercase
  padding: 0 20px
  font-family: $font-family-extra
  letter-spacing: 1px
  border: 1px solid $color-light-500
  transition: all .3s
  background-color: transparentize($color-dark-900, 0.6)
  &:hover
    background-color: transparentize($color-light-500, 0.4)